body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
div{
    /* boder:solid;
    margin: opx;*/
}
.view1{
    width:90%;
    margin-left: 5%;
}
.cabeçao{
    height: 81px;
}
.navbar{
    position:absolute;
    top: 40px;
    right: 90px;
}
.logo{
    padding-left:3px;
    padding-top:3px;
}
.img{
    padding-left: 263px;
}
.text{
    padding-left:3px;
    padding-top:4px;
}
.rodapepe{
    padding-left: 2px;
    padding-top: 4px;
    text-align: center;
}
